// Aquí podrías poner variables de Bootstrap más adelante
// $primary: #0077b6;  // ejemplo para adaptar Bootstrap a tus colores

@import "variables";
@import "base";
@import "header";
@import "home";
@import "productos";
@import "ficha";
@import "contacto";
@import "carrito";
@import "footer";
